 .reviewSection {
    padding-top: 50px;
  }
 
  .reviewSection  .add{
    display: flex;
    flex-direction: column;
  }
  .reviewSection  .add .addreview{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
  .reviewSection .addreview input {
    padding: 10px;
    outline: none;
    height: 50px;

  }

  .reviewSection .addreview select{
    height: 30px;
width: 100px;
margin: 10px 0;
  }
  .reviewSection .addreview  button{
    width: 100px;
    padding: 10px 20px;
    background-color: rgb(18, 207, 18);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
  }